<br>
<h1><%= @post.title%></h1>
<p><%= @post.body%></p>
<hr>
<%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Удалить", post_path(@post), method: :delete, data:{confirm: "Хотите удалить статью"}, :class => 'btn btn-danger' %>
<br>
<hr>

<h2>Добавить коментарий</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    Пользователь <br>
    <%= f.text_field(:username, {:class => 'form-control'})%>
  </p>

  <p>
    Текст коментария <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  
  <p>
    <%= f.submit("Добавить коментарий",{:class => 'btn btn-warning'})%>
  </p>  
<% end %>  

<h1>Все коментарии</h1>
<% @post.comments.each do |comment|%>
  <div class='alert alert-light'>
    <p><strong><%= comment.username %></strong>: <%= comment.body%></p>
  </div>
  <hr>
<% end %>  